{% extends 'base_login.html' %}
{% load bootstrap5 %}

{% block title %}Password reset form! - Urbanshef{% endblock %}
{% block heading %}Password reset form{% endblock %}

{% block content %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="POST" enctype="multipart/form-data" class="login-form mt-4">
  {% csrf_token %}
    {% bootstrap_form form %}
  <button type="submit" class="btn btn-pink pull-right" name="Update Password">Update Password</button>
</form>
{% endblock %}
