{% extends 'chef/base.html' %}
{% block title %}
    UK food hygiene rating.
{% endblock %}
{% block script %}
    <style>
    .ratingImage img{
        width: 175px;
    }
    </style>
{% endblock %}
{% block page %}
    <div class="card">
        <div class="card-body">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Search your kitchen</h1>
            <form action="{{ request.path }}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3 is-valid">
                            <label class="form-label" for="id_shef_name">Kichen name</label>
                            <input type="text" name="shef_name" placeholder="kichen name" class="form-control" title=""
                                   id="id_shef_name" required>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3 is-valid">
                            <label class="form-label" for="id_location">Location</label>
                            <input type="text" name="location" placeholder="Town, City or Postcode" class="form-control"
                                   title="" id="id_location" required>
                        </div>
                    </div>
                    <div class="col-md-2" style="display: flex;align-items: center;">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
            {% if dataList %}
                {% for data in dataList %}
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-4">
                            <h3>{{ data.businessName }}</h3>
                            <div style="font-size: 1em;">{{ data.addressLine1 }} {{ data.addressLine2 }} {{ data.addressLine3 }}</div>
                            <div style="font-size: 1em;">{{ data.postCode }}</div>
                        </div>
                        <div class="col-md-4 ratingImage">
                            {% load static %}
                            {% if data.ratingValue == 'Awaiting Inspection' %}
                                <img src="{% static 'img/uk_food_rating/large/fhis_awaiting_inspection.jpg' %}"
                                     alt="">
                            {% elif data.ratingValue == 'AwaitingInspection' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_awaitinginspection_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == '5' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_5_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == '4' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_4_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == '3' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_3_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == '2' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_2_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == '1' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_1_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == '0' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_0_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == 'Exempt' %}
                                <img src="{% static 'img/uk_food_rating/large/fhrs_exempt_en-gb.jpg' %}" alt="">
                            {% elif data.ratingValue == 'Pass' %}
                                <img src="{% static 'img/uk_food_rating/large/fhis_pass.jpg' %}" alt="">
                            {% else %}
                                {{ data.ratingValue }}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <div style="font-size: 1em;">{{ data.lastInspection }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}