{% load static %}
<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8">
    <title>Food Safety - Slobite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Good food hygiene is essential to make sure that the food you serve is safe to eat. You need to introduce ways of working that will help to ensure food safety in the India." />
    <meta name="keywords" content="Food safety in India" />

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- Slider -->
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet"  id="color-opt" href="{% static 'css/colors/default.css' %}">
    {% block script %}{% endblock %}
  </head>

  <body>
      <!-- Navbar STart -->
      <header id="topnav" class="defaultscroll sticky d-print-none">
          <div class="container">
              <!-- Logo container-->
              <div>
                  <a class="logo" href="/">
                      <img src="{% static 'img/logo-dark.png' %}" height="24" alt="">
                  </a>
              </div>
              <div class="buy-button">
                {% if request.user.is_authenticated %}

                <a href="{% url 'chef-home' %}" class="btn btn-primary">Profile</a>

                {% else %}

                <a href="{% url 'become-a-shef' %}" class="btn btn-primary">Apply</a>

                {% endif %}
              </div><!--end login button-->
              <!-- End Logo container-->
              <div class="menu-extras">
                  <div class="menu-item">
                      <!-- Mobile menu toggle-->
                      <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                          <div class="lines">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </a>
                      <!-- End mobile menu toggle-->
                  </div>
              </div>

              <div id="navigation">
                  <div class="buy-menu-btn d-none">
                    {% if request.user.is_authenticated %}

                    <a href="{% url 'chef-home' %}" class="btn btn-primary">Profile</a>

                    {% else %}

                    <a href="{% url 'become-a-shef' %}" class="btn btn-primary">Apply</a>

                    {% endif %}
                  </div><!--end login button-->
              </div><!--end navigation-->
          </div><!--end container-->
      </header><!--end header-->
      <!-- Navbar End -->
      <!-- Hero Start -->

      <section class="bg-half bg-light d-table w-100 d-print-none">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12 text-center">
                      <div class="page-next-level">
                          <h4 class="title"> Food Safety </h4>
                          <ul class="list-unstyled mt-4">
                              <li class="list-inline-item h6 date text-muted"> <span class="text-dark">Last Revised :</span> 23th March, 2021</li>
                          </ul>
                          <div class="page-next">
                              <nav aria-label="breadcrumb" class="d-inline-block">
                                  <ul class="breadcrumb bg-white rounded shadow mb-0">
                                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                                      <li class="breadcrumb-item active" aria-current="page">Food Safety</li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>  <!--end col-->
              </div><!--end row-->
          </div> <!--end container-->
      </section><!--end section-->
      <!-- Hero End -->

      <!-- Shape Start -->
      <div class="position-relative">
          <div class="shape overflow-hidden text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
              </svg>
          </div>
      </div>
      <!--Shape End-->

      <!-- Start Food Safety -->
      <section class="section">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-9">
                      <div class="card shadow rounded border-0">
                          <div class="card-body">
                            <h4>Risk assessment</h4>
                            <p>When setting up a food business, you should carry out a risk assessment. In line with&nbsp; wider government advice, an additional risk assessment is required to address the risks of COVID-19. The Health and Safety Executive has issued guidance on&nbsp;how to carry out a risk assessment&nbsp;&nbsp;and what to include.</p>
                            <h4>Food hygiene</h4>
                            <p>Good food hygiene is essential to make sure that the food you serve is safe to eat. When you are setting up a food business, you need to introduce ways of working that will help you ensure hygiene standards are right from the start.</p>
                            <p>The four main areas to remember for good food hygiene are the 4Cs:</p>
                            <ul>
                            <li>Cleaning</li>
                            <li>Cooking</li>
                            <li>Chilling</li>
                            <li>Cross-contamination</li>
                            </ul>
                            <p>Food Standards Agency has&nbsp;more information on how to manage&nbsp;food hygiene in your business, including storing and transporting food, training and personal hygiene.</p>
                            <h4>Allergen management</h4>
                            <p>All chefs&nbsp;are required to provide allergen information and follow labelling rules as set out in food law.</p>
                            <p>This means that you must:</p>
                            <ul>
                            <li>provide allergen information to your customers</li>
                            <li>handle and manage food allergens effectively in food preparation.</li>
                            </ul>
                            <p>You need to tell customers if any food you provide contains any of the&nbsp;14 allergens&nbsp;that are required to be declared as allergens by food law. This also applies to any additives, or any other items present in the final product, such as garnishes or cake decorations.</p>
                            <p>The 14 allergens are:&nbsp;<strong>celery</strong>,&nbsp;<strong>cereals containing gluten</strong>&nbsp;(such as barley and oats),&nbsp;<strong>crustaceans</strong>&nbsp;(such as prawns, crabs and lobsters),&nbsp;<strong>eggs</strong>,&nbsp;<strong>fish</strong>,&nbsp;<strong>lupin</strong>,&nbsp;<strong>milk</strong>,&nbsp;<strong>molluscs</strong>&nbsp;(such as mussels and oysters),&nbsp;<strong>mustard</strong>,&nbsp;<strong>peanuts</strong>,&nbsp;<strong>sesame</strong>,&nbsp;<strong>soybeans</strong>,&nbsp;<strong>sulphur dioxide and sulphites</strong>&nbsp;(at a concentration of more than ten parts per million) and&nbsp;<strong>tree nuts</strong>&nbsp;(such as almonds, hazelnuts, walnuts, brazil nuts, cashews, pecans, pistachios and macadamia nuts).</p>
                            <p>There are a number of ways in which allergen information can be provided to your customers.&nbsp;While adding a meal to Slobite dashboard, all chefs are required to include the allergens.</p>
                            <p>Food Standards Agency's&nbsp;allergen guidance for food businesses&nbsp;will help you to decide this.</p>
                            <p>You can take steps to provide allergen-safe meals by:</p>
                            <ul>
                            <li>cleaning utensils before each use</li>
                            <li>regularly washing hands thoroughly</li>
                            <li>storing ingredients and prepared foods separately</li>
                            <li>labelling takeaway meals clearly.</li>
                            </ul>
                            <p>It is important for food businesses to take steps to&nbsp;avoid cross-contamination&nbsp;in food preparation. This protects customers with a food allergy. Read more on&nbsp;how to provide allergen information in food delivery.</p>
                            <p>&nbsp;</p>
                          </div>
                      </div>
                  </div><!--end col-->
              </div><!--end row-->
          </div><!--end container-->
      </section><!--end section-->
      <!-- End Food Safety-->


            <!-- Footer Start -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="/" class="logo-footer">
                                <img src="{% static 'img/logo-light.png' %}" height="24" alt="">
                            </a>
                            <p class="mt-4">Wholesome and delicious homemade food <br>prepared by certified local chefs, delivered <br>at your doorsteps.</p>
                            <ul class="list-unstyled social-icon social mb-0 mt-4">
                                <li class="list-inline-item"><a href="https://www.facebook.com/slobite" target="_blank"  class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/slobitedotcom/" target="_blank" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/slobitedotcom" target="_blank" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->

                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="text-light footer-head">Company</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="{% url 'food-safety' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Food Safety</a></li>
                                <li><a href="https://drive.google.com/drive/folders/1PlI-0gcLeKzdhSbLe9eduEbgkNqBPtX9" target="_blank" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Resources</a></li>
                                <li><a href="https://slobite.tawk.help/" target="_blank" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Help Centre</a></li>

                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="text-light footer-head">Legal</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="{% url 'terms' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                                <li><a href="{% url 'privacy' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                                <li><a href="{% url 'report-bugs' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Report Bugs </a></li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="text-light footer-head">Download Apps</h5>
                            <a href="https://play.google.com/store/apps/details?id=com.urbanshef.urbanshefapp" target="_blank" class="btn btn-primary mt-2"><i class="uil uil-google-play"></i> Play Store</a>
                            
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </footer><!--end footer-->
            <footer class="footer footer-bar">
                <div class="container text-center">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="text-sm-start">
                                <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Slobite. All Rights Reserved.</p>
                            </div>
                        </div><!--end col-->

                        <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <ul class="list-unstyled text-sm-end mb-0">
                                <li class="list-inline-item"><img src="{% static 'img/visa.png' %}"  class="avatar avatar-ex-sm" title="American Express" alt=""></li>
                                <li class="list-inline-item"><img src="{% static 'img/mastercard.png' %}"  class="avatar avatar-ex-sm" title="Master Card" alt=""></li>
                                <li class="list-inline-item"><img src="{% static 'img/amex.png' %}"  class="avatar avatar-ex-sm" title="Visa" alt=""></li>
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->
            </footer><!--end footer-->
            <!-- Footer End -->

            <!-- javascript -->
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <!-- Icons -->
            <script src="{% static 'js/feather.min.js' %}"></script>
            <!-- Main JS -->
            <script src="{% static 'js/app.js' %}"></script>
            <!-- JQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Sendgrid Subscribe -->
            <script type="text/javascript" src="//sgwidget.leaderapps.co/js/sendgrid-widget.js"></script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189136004-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('set', {'user_id': 'USER_ID'});
            ga('set', 'userId', 'USER_ID');
            gtag('config', 'UA-189136004-1');
            </script>

            {% tawkto_script %}

        </body>
</html>
